.body {
    background-color:#F6F8F9;
    margin: 0px;
}
.immagine{
    vertical-align: middle;
}




.site_header {
    
    box-sizing: border-box;
    background-color: white;
    padding: 20px;

    
   
    
    
}
h1 {
    margin:0px;
    vertical-align:middle;
    
    display:inline-block
    
    
    
    
}
.site_main {
    
    vertical-align: top;
    
    margin: 50px auto 0;
    background-color:white;
    width: 700px;
}
    
    
    
    
.primo {
    padding: 15px 50px;
  
  
}
.new {
    padding-top: 1.5rem;
   
}
.primo1 {
    
    
}
h3{
    
}
.bott{
    display: inline-block ;
    padding: 10px 15px;
    background-color: blue;
    border-radius: 10px;
    

}
.bott2 {
    display: inline-block ;
    padding:10px 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

}
ul {
    list-style-type: none;
}
.editorial{
    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(0, 204, 255);
    border-radius: 10px;
    color: white;
}
.q1goals{
    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(212, 0, 255);
    border-radius: 10px;
    color: white;

}
.recruiting{

    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(0, 255, 76);
    border-radius: 10px;
    color: white;
}
.mobile {
    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    color: white;
}
.web{
    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(255, 0, 179);
    border-radius: 10px;
    color: white;
}
.sales {
    display: inline-block ;
    padding: 3px 7px;
    background-color: rgb(187, 255, 0);
    border-radius: 10px;
    color: white;
}
    
    